@media only screen and (min-width: 800px) {
  body, .root {
    padding: 2em 6em;
  }
}


body, .root {
  color: #999;
  background-color: #333;
}
.section {
  padding: .5em;
}
.title {
}
h1, h2, h3, h4 {
  margin-top: 0;
  line-height: 1em;
  color: #bbb;

  border: solid 1px #444;
  border-top: none;
  border-radius: 3px;
  padding: 0 .5em;
}
h1 {
  padding-left: .2em;
}
h2, h3, h4 {
  margin-top: 1em;
  border-left: none;
}
ul {
  padding-left: 1.5em;
  list-style-type: circle;
}

.paragraph > div {
  padding: .25em 0;
}

a {
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


@media print {
  .no-print {
    display: none;
  }

  body, .root {
    /* Better text color for printing */
    color: #444;
    background-color: #fff;
  }

  a, h1, h2, h3 {
    color: #222;
  }
  h4 {
    color: #666;
  }

  h2, h3, h4, ul {
    /* Tighten up, want fewest pages possible */
    margin-top: .25em;
    margin-bottom: .25em;
  }

  a::after {
    content: ": "attr(href)"";
    font-weight: normal;
  }

  .greg-walker > h1::after {
    /* obfusticate this */
    content: " gre""g.i""su""+ghr""\0040""gm""ai""l.c""om";
    font-size: .5em;
    font-weight: normal;
  }
}

