@media only screen and (min-width: 800px) {
  body, .root {
    padding: 2em 6em;
  }
}


body, .root {
  color: #999;
  background-color: #333;
}
.section {
  padding: .5em;
}
.title {
}
h1, h2, h3, h4 {
  margin-top: 0;
  line-height: 1em;
  color: #bbb;

  border: solid 1px #444;
  border-top: none;
  border-radius: 3px;
  padding: 0 .5em;
}
h1 {
  padding-left: .2em;
}
h2, h3, h4 {
  margin-top: 1em;
  border-left: none;
}

.paragraph > div {
  padding: .25em 0;
}

a {
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


@media print {
  body, .root {
    color: #000;
  }

  a::after {
    content: ": "attr(href)"";
    font-weight: normal;
  }
}
